body {
  background-image: url("../images/StarWarsPoster.jpg");
  background-size: cover;  
  background-repeat: no-repeat;
  font-family: 'Pathway Gothic One', sans-serif;
}

.logo{
  position: relative;
  max-width: 70%;     
  padding: 0;
  margin: 0;
  z-index: 5;
  height: 25%;
}
.navbar-collapse{
  width: 30%;
  float: right;
}
.navbar-header{


  width: 30%;
  float: right;

}
.jumbotron{
  opacity: .8;
  border-radius: 30px;
  width: 90%;  
  min-height: 100px;
  margin: 5px auto;
} 

.main-content{
  background-color: rgb(116, 107, 146);
  
}

.selecthero{
  background-color: rgb(51, 19, 156);
  color: #feda4a;
  font-size: 2em;
  text-align: center;
  opacity: 1;
}
row{

}


.star-wars {
  display: flex;
  justify-content: center;
  position: relative;
  height: 450px;
  color: rgb(51, 19, 156);
  color: #feda4a;
  
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 20em;
  font-weight: 800;
  letter-spacing: 6px;
  line-height: 20%;
  perspective: 400px;
  text-align: justify;
  overflow: hidden;
}
.crawl > p { 
  font-size:15%;
}
.fade {
  position: relative;
  width: 100%;

  top: -25px;
  background-image: linear-gradient(0deg, transparent, black 75%);
  z-index: 1;
}
.crawl {
  position: relative;
  top:  0px;
  transform-origin: 0% 100%;
  animation: crawl 60s linear;
  animation-iteration-count: infinite;
}

.crawl > .title {
  font-size: 90%;
  text-align: center;
}

.crawl > .title h1 {
  margin: 0 0 100px;
  text-transform: uppercase;
}

@keyframes crawl {
  0% {
    top: 4000;
    transform: rotateX(30deg)  translateZ(0);
  }
  100% { 
    top: -4000px;
    transform: rotateX(35deg) translateZ(-2500px);
  }
}

